body{
	font-family: 'Lato', sans-serif;
	padding-top: 50px;
	margin: 0;
	background-color:transparent;
}

nav{
	background-color: #668EFE;
	height: 90px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	width: 100%;
}

nav #left-nav{
	position: relative;
	text-decoration: none;
	text-align:left;
	color:white;
	top: 18px;
}

nav #left-nav li{
	display:inline-block;
}

nav #left-nav a{
	text-decoration: none;
	color: white;
	font-size: 22px;
	padding-left: 22px;
}

nav .logo{
	font-family: 'Lobster', sans-serif;
	position: relative;
	text-align: center;
	margin-top: -35px;
}

nav .logo a{
	text-decoration: none;
	color:white;
	font-size: 30px;
}

nav #right-nav{
	position: relative;
	text-align: right;
	margin-top:-50px;
	margin-right: 35px;
}

nav #right-nav li{
	display: inline-block;
	margin-right: 20px;
}

nav #right-nav a{
	text-decoration: none;
	color: white;
	font-size: 22px;
	padding-left: 2px;
	margin-top: 0px;
}

#welcome{
	height: 500px;
	background: url(../images/sammy.png) no-repeat center 100%,
	linear-gradient(to bottom right, green, blue);
} 

#welcome h1{
	font-family: 'Lato', sans-serif;
	text-align:center;
	color: white;
	font-size: 40px;
	padding-top: 50px;
}

#welcome p{
	text-align:center;
	color:purple;
}

#information{
	height: 500px;
	background-color: #595959;
}

#information h1{
	text-align:right;
	margin-right: 50px;
	margin-top: 0;
	padding-top: 25px;
	color:orange;
}

#information #box-left{
	display:inline-block;
	position:relative;
	width: 35%;
	text-align:center;
	float:left;
	margin-left: 100px;
	margin-top: 50px;
	border: 1px solid green;
	background: radial-gradient(circle, green, purple, red);
	border-radius: 40px;
	padding: 15px 5px 15px 5px;
}

#information #box-right{
	display:inline-block;
	position:relative;
	width: 35%;
	text-align:center;
	float:right;
	margin-right: 100px;
	margin-top: 50px;
	border: 1px solid green;
	background: radial-gradient(circle, green, blue, red);
	border-radius: 40px;
	padding: 15px 5px 15px 5px;
}

#information h2, p, a{
	color:white;
}

#information a{
	font-size: 20px;
}

/*Code for animated Clouds Area*/
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-area{ 
	width: 100%; 
	height: 350px; 
	background-image: url(../images/bg-clouds.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
}

#animate-area h2{
	padding-top: 20px;
	margin-top: 0;
	color: maroon;
	text-align: center;
	font-size: 30px;
}

#animate-area img{
	padding-top: 10px;
	display:block;
	margin: 0 auto;
}

form {
	background-color:#FF530D ;
	height:auto;
	position:relative;
	text-align:center;
	padding-top: 10px;
	padding-bottom: 10px;
}

form input,
form textarea{
	background-color: transparent;
	border-radius: 2px;
	border: 1px solid #f6f9f9;
	color: white;
	display: block;
	font-size: 20px;
	margin: 10px auto;
	padding-top: 10px;
	width: 40%;
}

form button{
	font-size: 15px;
	border-radius: 4px;
}

form button:hover{
	cursor:pointer;
}

/*changes placeholder text in form*/
::-webkit-input-placeholder {
	color:white;
	font-size: 20px;
	font-family:'Lobster', sans-serif;
}

footer{
	height: 40px;
	background-color:#014BFE;
	margin-bottom: 0;
	padding-top: 10px;
}

footer #copywrite{
	float:right;
	color:white;
	padding-right: 20px;
}

footer #copywrite h1{
	font-size: 10px;
}

footer #socialMedia{
	text-align:center;
	color:white;
	font-size: 25px;
}

footer i{
		padding-left: 20px;
}